body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Lato", sans-serif;
}

body,
html {
    height: 100%;
    color: rgb(63, 63, 63);
    line-height: 1.8;
}

/* Nav Bar Color */
.nbar {
    color: rgb(80, 79, 79);
}


/* Create a Parallax Effect */
.bgimg-1,
.bgimg-2,
.bgimg-3 {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* First image (Logo. Full height) */
.bgimg-1 {
    background-image: url('https://i.ibb.co/Jv0rD55/6daf89d66b50680c865d9bd1080833cd.png');
    min-height: 100%;
}

/* Second image (Portfolio) */
.bgimg-2 {
    background-image: url('https://i.ibb.co/DC1dbgR/Background.png');
    min-height: 400px;
}

/* Third image (Mentor Match) */
.bgimg-3 {
    background-image: url("https://images.unsplash.com/photo-1532969200589-57f1fe57aaab?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=714&q=80");
    min-height: 400px;
}

.w3-wide {
    letter-spacing: 10px;
}

.w3-hover-opacity {
    cursor: pointer;
}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1600px) {

    .bgimg-1,
    .bgimg-2,
    .bgimg-3 {
         background-attachment: scroll;
         min-height: 400px;
    }
}